'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Byebug Debugger'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'byebug-debugger:toggle'
        },
        {
          'label': 'Run'
          'command': 'byebug-debugger:run'
        },
        {
          'label': 'Configure project...'
          'command': 'byebug-debugger:configure'
        }
      ]
    ]
  }
]
