@import "ui-variables";

.DebuggerView {
  display: flex;
  flex-direction: column;
  height: 240px;
  padding: @component-padding;

  .toolbar {
    margin-bottom: @component-padding;
  }

  .body {
    background-color: @input-background-color;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .tabs {

    button {
      outline: none !important;
    }
  }
}

.OutputPane {
  flex-grow: 1;
  overflow: auto;

  pre {
    font-size: 8pt;
  }

  hr {
    margin: 10px 0;
    color: @text-color-subtle;
  }

  .exit_message {

    &.success {
      color: @text-color-success;
    }

    &.warning {
      color: @text-color-warning;
    }

    &.error {
      color: @text-color-error;
    }
  }
}

.DebuggerPane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  pre {
    flex-grow: 1;
    font-size: 8pt;
    overflow: auto;
  }

  input {

  }
}
