@import "ui-variables";

.DebuggerView {
  display: flex;
  flex-direction: column;
  height: 240px;
  padding: @component-padding;

  .toolbar {
    margin-bottom: @component-padding;
  }

  .body {
    background-color: @input-background-color;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .tabs {

      button {
        outline: none !important;
      }
    }

    .state {

      .connection {
        color: lightgray;

        &.connected {
          color: @text-color-info;
        }
      }
    }
  }
}

.OutputPane {
  flex-grow: 1;
  overflow: auto;

  .content {
    font-size: 8pt;
  }

  hr {
    margin: 10px 0;
    color: @text-color-subtle;
  }

  .exit_message {

    &.success {
      color: @text-color-success;
    }

    &.warning {
      color: @text-color-warning;
    }

    &.error {
      color: @text-color-error;
    }
  }
}

.DebuggerPane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .content {
    flex-grow: 1;
    font-size: 8pt;
    overflow: auto;
  }

  input {
  }
}

.CallStackPane {

  th {
    padding: .3em .5em;
    text-transform: uppercase;
  }

  td {
    padding: .1em .5em;
  }

  tr.frame {
    cursor: pointer;

    &:hover {
      color: @text-color-info;
    }
  }
}
